extends layout

block content
  .container
    .row
      .col-4.offset-4
        form(action=`/products/${id}` method="post")
          .form-group
            label(for='name') Name
            input#name.form-control(name='name' type='text' value=`${product.name}` placeholder='Product name')
          .form-group
            label(for='price') Price
            input#price.form-control(name='price' type='number' value=`${product.price}` placeholder='Product price')
          .form-group
            label(for='manufacturer') Manufacturer
            input#price.form-control(name='manufacturer' type='number' value=`${product.manufacturer}` placeholder='Product manufacturer')
          .form-group
            label(for='stock') Stock
            input#price.form-control(name='stock' type='number' value=`${product.stock}` placeholder='Product stock')
          .form-group
            label(for='active') Active
            input#price.form-control(name='active' type='number' value=`${product.active}` placeholder='Active: 1 or 0')
          button.btn.btn-primary(type='submit') Submit